## Final Project Submission

Please fill out:
* Student name: Ian Musau, Mathew Karani, Jacinta Chepkemoi, Christine Malinga and Tabitha Berum.
* Student pace: Full time
* Scheduled project review date/time: 
* Instructor name: Nikita Njoroge
* Blog post URL:

In [28]:
# Your code here - remember to use markdown cells for comments as well!

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#from functions import *

## Data Understanding

The dataset "data_sourcing" contains a plethora of information about real estate properties, such as property IDs, price ranges, dates of sales, number of bedrooms and bathrooms, living space and lot sizes, floor counts, waterfront access, view ratings, property condition and grade, years of construction and renovation, geographic coordinates, and information about competitive neighborhoods.

Containing 21 columns and over 21,000 items, the dataset offers a plethora of data for investigating correlations, trends, and patterns in the real estate market. The diversity of property variables and the quantity of unique values in each column reflect the heterogeneity and complexity of the real estate landscape represented in the dataset.

Gaining an understanding of the differences included in each characteristic and how they are distributed is essential for doing important analyses, such as identifying the factors influencing property values, assessing neighborhood characteristics, and predicting market trends. Furthermore, it will be crucial to address data quality issues like missing values, outliers, and inconsistent data types in order to ensure the accuracy and reliability of any studies or models based on this dataset.

In [30]:


class DataSourcing:
  def __init__(self,dataframe):
    self.original = dataframe
    self.dataframe = dataframe
  
  def give_info(self):
    message =  f"""
    ----------------------------------------------------------------------->
    DESCRIPTION OF THE DATAFRAME IN QUESTION:
    ----------------------------------------------------------------------->
    
    Dataframe information => {self.dataframe.info()}
    ------------------------------------------------------------------------------------------------------------------------->
    
    Dataframe shape => {self.dataframe.shape[0]} rows, {self.dataframe.shape[1]} columns
    ------------------------------------------------------------------------------------------------------------------------->    
    
    There are {len(self.dataframe.columns)} columns, namely: {self.dataframe.columns}.  
    ------------------------------------------------------------------------------------------------------------------------->
        
    The first 5 records in the dataframe are seen here:
    ------------------------------------------------------------------------------------------------------------------------->
    {self.dataframe.head()}
    ------------------------------------------------------------------------------------------------------------------------->
       
    The last 5 records in the self.dataframe are as follows: 
    ------------------------------------------------------------------------------------------------------------------------->
    {self.dataframe.tail()}
    ------------------------------------------------------------------------------------------------------------------------->
    
    The descriptive statistics of the dataframe (mean,median, max, min, std) are as follows:
    ------------------------------------------------------------------------------------------------------------------------->
    {self.dataframe.describe()}
    ------------------------------------------------------------------------------------------------------------------------->
    """
    print (message)
  
  def null_count(self):
    return self.dataframe.isnull().sum()
  
  def unique_count(self):
    return self.dataframe.nunique()
  
  def unique_per_column(self):
    print("<----- UNIQUE VALUES IN EACH COLUMN ----->")
    for col in self.dataframe.columns:
      print(f"{col} ({len(self.dataframe[col].unique())} unique)\n {sorted(self.dataframe[col].unique())}")
      print()
    print("<----- END OF UNIQUE VALUES IN EACH COLUMN ----->")
    return

Load the CSV dataset

In [35]:
# Call the load_data() function to load the data
self = pd.read_csv('data\kc_house_data.csv')

Now we can start the data understanding and pass the dataframe to our DataSourcing class

In [36]:
house_data = DataSourcing(dataframe=self)
house_data.give_info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

    ----------------------------------------------------------------------->
    DESCRIPTION OF THE DATAFRAME IN QUESTION:
    ----------------------------------------------------------------------->

    Dataframe information => None
    ------------------------------------------------------------------------------------------------------------------------->

    Dataframe shape => 21597 rows, 21 columns
    ------------------------------------------------------------------------------------------------------------------------->

    There are 21 columns, namely: Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object').
    ------------------------------------------------------------------------------------------------------------------------->

    The first 5 records in the dataframe are seen here:
    ------------------------------------------------------------------------------------------------------------------------->
               id        date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  10/13/2014  221900.0         3       1.00         1180
1  6414100192   12/9/2014  538000.0         3       2.25         2570
2  5631500400   2/25/2015  180000.0         2       1.00          770
3  2487200875   12/9/2014  604000.0         4       3.00         1960
4  1954400510   2/18/2015  510000.0         3       2.00         1680

   sqft_lot  floors waterfront  view  ...          grade sqft_above  \
0      5650     1.0        NaN  NONE  ...      7 Average       1180
1      7242     2.0         NO  NONE  ...      7 Average       2170
2     10000     1.0         NO  NONE  ...  6 Low Average        770
3      5000     1.0         NO  NONE  ...      7 Average       1050
4      8080     1.0         NO  NONE  ...         8 Good       1680

   sqft_basement yr_built  yr_renovated  zipcode      lat     long  \
0            0.0     1955           0.0    98178  47.5112 -122.257
1          400.0     1951        1991.0    98125  47.7210 -122.319
2            0.0     1933           NaN    98028  47.7379 -122.233
3          910.0     1965           0.0    98136  47.5208 -122.393
4            0.0     1987           0.0    98074  47.6168 -122.045

   sqft_living15  sqft_lot15
0           1340        5650
1           1690        7639
2           2720        8062
3           1360        5000
4           1800        7503

[5 rows x 21 columns]
    ------------------------------------------------------------------------------------------------------------------------->

    The last 5 records in the self.dataframe are as follows:
    ------------------------------------------------------------------------------------------------------------------------->
                   id        date     price  bedrooms  bathrooms  sqft_living  \
21592   263000018   5/21/2014  360000.0         3       2.50         1530
21593  6600060120   2/23/2015  400000.0         4       2.50         2310
21594  1523300141   6/23/2014  402101.0         2       0.75         1020
21595   291310100   1/16/2015  400000.0         3       2.50         1600
21596  1523300157  10/15/2014  325000.0         2       0.75         1020

       sqft_lot  floors waterfront  view  ...      grade sqft_above  \
21592      1131     3.0         NO  NONE  ...     8 Good       1530
21593      5813     2.0         NO  NONE  ...     8 Good       2310
21594      1350     2.0         NO  NONE  ...  7 Average       1020
21595      2388     2.0        NaN  NONE  ...     8 Good       1600
21596      1076     2.0         NO  NONE  ...  7 Average       1020

       sqft_basement yr_built  yr_renovated  zipcode      lat     long  \
21592            0.0     2009           0.0    98103  47.6993 -122.346
21593            0.0     2014           0.0    98146  47.5107 -122.362
21594            0.0     2009           0.0    98144  47.5944 -122.299
21595            0.0     2004           0.0    98027  47.5345 -122.069
21596            0.0     2008           0.0    98144  47.5941 -122.299

       sqft_living15  sqft_lot15
21592           1530        1509
21593           1830        7200
21594           1020        2007
21595           1410        1287
21596           1020        1357

[5 rows x 21 columns]
    ------------------------------------------------------------------------------------------------------------------------->

    The descriptive statistics of the dataframe (mean,median, max, min, std) are as follows:
    ------------------------------------------------------------------------------------------------------------------------->
                     id         price      bedrooms     bathrooms   sqft_living  \
count  2.159700e+04  2.159700e+04  21597.000000  21597.000000  21597.000000
mean   4.580474e+09  5.402966e+05      3.373200      2.115826   2080.321850
std    2.876736e+09  3.673681e+05      0.926299      0.768984    918.106125
min    1.000102e+06  7.800000e+04      1.000000      0.500000    370.000000
25%    2.123049e+09  3.220000e+05      3.000000      1.750000   1430.000000
50%    3.904930e+09  4.500000e+05      3.000000      2.250000   1910.000000
75%    7.308900e+09  6.450000e+05      4.000000      2.500000   2550.000000
max    9.900000e+09  7.700000e+06     33.000000      8.000000  13540.000000

           sqft_lot        floors    sqft_above      yr_built  yr_renovated  \
count  2.159700e+04  21597.000000  21597.000000  21597.000000  17755.000000
mean   1.509941e+04      1.494096   1788.596842   1970.999676     83.636778
std    4.141264e+04      0.539683    827.759761     29.375234    399.946414
min    5.200000e+02      1.000000    370.000000   1900.000000      0.000000
25%    5.040000e+03      1.000000   1190.000000   1951.000000      0.000000
50%    7.618000e+03      1.500000   1560.000000   1975.000000      0.000000
75%    1.068500e+04      2.000000   2210.000000   1997.000000      0.000000
max    1.651359e+06      3.500000   9410.000000   2015.000000   2015.000000

            zipcode           lat          long  sqft_living15     sqft_lot15
count  21597.000000  21597.000000  21597.000000   21597.000000   21597.000000
mean   98077.951845     47.560093   -122.213982    1986.620318   12758.283512
std       53.513072      0.138552      0.140724     685.230472   27274.441950
min    98001.000000     47.155900   -122.519000     399.000000     651.000000
25%    98033.000000     47.471100   -122.328000    1490.000000    5100.000000
50%    98065.000000     47.571800   -122.231000    1840.000000    7620.000000
75%    98118.000000     47.678000   -122.125000    2360.000000   10083.000000
max    98199.000000     47.777600   -121.315000    6210.000000  871200.000000
    ------------------------------------------------------------------------------------------------------------------------->

The insights derived from the give_info() method provide essential details about the dataset, contributing to a comprehensive understanding:

This data set has 21 columns namely: 
id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15.

Missing Values:
waterfront, view, and yr_renovated columns have missing values. This can be seen in the count row of the descriptive statistics section.

Potential Data Quality Issues:
The bedrooms column has a maximum value of 33, which seems unusually high and might be an error or outlier.
The bathrooms column has a maximum value of 8, which could also be considered high and should be examined for outliers.
The yr_renovated column has a maximum value of 2015, which seems unusual as it's the same as the maximum value of the yr_built column. This suggests that some values in the yr_renovated column might represent the year built instead of renovation years.

Inconsistent Data Types:
Some columns, such as waterfront, view, condition, and grade, appear to have categorical data but are represented as objects (strings) instead of categorical data types.
The date column is represented as an object (string) but should be converted to a datetime data type for easier manipulation and analysis.

Potential Outliers:
Outliers may exist in numerical columns such as price, bedrooms, bathrooms, sqft_living, sqft_lot, sqft_above, sqft_basement, yr_built, yr_renovated, lat, long, sqft_living15, and sqft_lot15. Visualizing the distributions of these columns can help identify outliers.

Zipcode as Numeric:
The zipcode column is currently represented as an integer, but it might be more appropriate to treat it as a categorical variable since it represents different geographic areas.

Inconsistent Naming Conventions:
Some column names are in snake_case format (sqft_living, sqft_lot) while others are in camelCase (sqftLiving15, sqftLot15). It's best to use a consistent naming convention throughout the dataset.

In [33]:
# Check for unique data so as to avoid redundancy in our dataset
data_sourcing.unique_count()

id               21420
date               372
price             3622
bedrooms            12
bathrooms           29
sqft_living       1034
sqft_lot          9776
floors               6
waterfront           2
view                 5
condition            5
grade               11
sqft_above         942
sqft_basement      304
yr_built           116
yr_renovated        70
zipcode             70
lat               5033
long               751
sqft_living15      777
sqft_lot15        8682
dtype: int64

Upon examining the data, it appears to be authentic and devoid of anomalies for several reasons:

Variety in Property IDs: The dataset comprises 21,420 distinct IDs, each representing a unique property.
Diverse Sale Dates: A total of 372 unique sale dates are recorded, reflecting the temporal spread of property transactions.
Price Variation: With 3,622 unique price points, the dataset demonstrates a wide range of property prices.
Bedroom and Bathroom Distribution: There are 12 distinct bedroom counts and 29 unique bathroom counts, indicating diverse property configurations.
Living Space and Lot Sizes: The dataset encompasses 1,034 different living space sizes and 9,776 distinct lot sizes, showcasing the variability in property dimensions.
Floor Counts: Properties are characterized by 6 unique floor counts, illustrating differences in architectural design.
Waterfront Access: The "waterfront" column exhibits 2 unique values, indicating the presence or absence of waterfront access for properties.
View Ratings: Properties are rated on 5 unique view levels, reflecting varying scenic qualities.
Condition and Grade: The dataset includes 5 distinct property conditions and 11 unique grade categories, offering insights into property quality.
Basement and Above-Ground Area: Property basements and above-ground areas are characterized by 304 and 942 unique size values, respectively.
Construction and Renovation Years: There are 116 unique construction years and 70 distinct renovation years, providing historical context for properties.
Geographical Distribution: Properties are located in 70 unique zip codes, with 5,033 distinct latitude and 751 longitude values, showcasing geographical diversity.
Neighborhood Comparison: The dataset features 777 different living space sizes and 8,682 lot sizes for the 15 nearest neighbors, enabling neighborhood-specific analyses.

The dataset exhibits substantial diversity across various property attributes, including size, location, condition, and price. These unique counts offer valuable insights into the dataset's composition, facilitating informed analyses and decision-making processes within the real estate domain.

In [34]:
def clean_data(data):
    # Handling missing values
    data.dropna(inplace=True)  # Remove rows with any missing values

    # Removing duplicates
    data.drop_duplicates(inplace=True)

    # Standardizing data formats (if needed)
    # For example, converting categorical variables to a consistent format

    # Reset index after dropping rows
    data.reset_index(drop=True, inplace=True)
    
    return data